# Editor configuration, see https://editorconfig.org
root = true

# All files
[*]
indent_style = space
insert_final_newline = true
max_line_length = 120

[*.ts]
indent_size = 4

[*.html]
indent_size = 2

[*.{ts,js,html,scss,css,json,md}]
charset = utf-8