{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "printWidth": 100,
  "endOfLine": "lf",

  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.html, *.js, *.json",
      "options": {
        "tabWidth": 2,
        "singleAttributePerLine": true,
        "parser": "angular"
      }
    }
  ]
}
