@use "../../../styles/variables" as variables;
@use "../../../styles/typography" as typography;

.smartline-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  width: 100%;
}


.with-search-icon {
  padding-right: 40px; /* Место для иконки */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23999' width='24px' height='24px'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px;
}

.smartline-input {
  display: flex;
  align-items: center;
  border: 2px solid variables.$color-pale-black;
  border-radius: 8px;
  @include typography.open-sans-regular-20-24();

  padding: 12px 16px;
  box-sizing: border-box;

  background-color: variables.$color-pale-blue; /* Light blue background */
  border: none;
  outline: none;

  &::placeholder {
    color: variables.$color-pale-black; /* Placeholder text color */
  }

  &:focus {
    border-width: 2px;
    border-color: variables.$color-main-blue;
  }
}

.tags-container {
  display: flex;
  gap: 8px;
  padding: 8px 0;
  flex-wrap: wrap;
}
