@use "../styles/variables.scss" as variable;

:host {
    display: flex;
    height: 100%;
}

.toast-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.on-the-top {
    justify-content: flex-start !important;
    height: auto !important;
}

.form-container {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    background-color: variable.$color-pale-blue;
    border-radius: 8px;
    overflow: hidden;
}

.smartline-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: center; // NO PAYLOAD
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px 120px 30px 120px;
    box-sizing: border-box;
}