<div class="form">
  <div class="toolbar">
    <h1 class="form-title">{{ label() }}</h1>
    <button class="button" (click)="cancel()">
      <mat-icon matIcon>close</mat-icon>
    </button>
  </div>
  <div>
    <div class="form-payload">
      @for (article of articles(); track article.title) {
        <div class="row">
          <span class="row-key">{{ article.title }}</span>
          <a class="row-value" [href]="article.url" target="_blank" rel="noopener noreferrer">
            {{ article.url }}
          </a>
        </div>
      } @empty {
        <span class="no-data-label">Нет данных</span>
      }
    </div>
  </div>
</div>
