@use "../../../styles/typography" as typography;
@use "../../../styles/variables" as variables;

.tag-container {
    @include typography.open-sans-regular-14-18();
    background-color: variables.$color-pale-black;
    color: variables.$color-main-blue;
    padding: 4px 8px;
    border-radius: 12px;
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
}

.tag {
    display: flex;
    @include typography.open-sans-regular-16-24();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: variables.$color-gray-blue;
}

.icon {
    color: variables.$color-gray-blue;
}